header,body{
  background-color:lightblue;
}
.dugme {
    background-color:limegreen;
    position:static;
    float:solid;
    text-align:center;
    color:rebeccapurple;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dugme:hover, .dugme:focus {
    background-color: rgb(233, 236, 62);
    tab-size: 6mm;
  }
  
  .padajuci_meni {
    position: left;
    display: inline-block;
  }
  
  .sadrzaj {
    display: none;
    position: left;
   
    background-color:rgb(146, 189, 146);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .sadrzaj a {
    color:maroon;
    padding: 12px 16px;
    border:solid;
    text-decoration: none;
    display: block;
  }
  
  .padajuci_meni a:hover {
    background-color:lightyellow;
  }
  
  .show {
    display: block;
  }